<div class="container" id="download">

  <div class="row col-md-offset-2">
    <div class="col-md-8">
      <section>
        {{ .Content }}
      </section>
    </div>

    <div class="col-md-5" style="margin: 0;">
      <section>
        <div class="form-group row">
          <div class="col-xs-8">
            <label for="sel_mirror"><h3 style="margin-bottom: 10px;">选择镜像服务器:</h3></label>
            <select class="form-control" id="sel_mirror">
                    <option value="0">Mirror1 [China Unicom]</option>
                    <option value="1">Github [US]</option>
                    <option value="2">80x86.io [JP]</option>
                  </select>

        <label for="fw_ver"><h3 style="margin-bottom: 10px;">当前版本:</h3></label>
        <input class="form-control" type="text" readonly name="fw_ver" id="fw_ver" value="" placeholder="version">

        <h3 style="margin-bottom: 10px;">选择路由器型号：</h3>
        <select class="form-control" id="sel_device">
            <option value="NEWIFI-D1">NEWIFI-D1</option>
            <option value="NEWIFI-Y1">NEWIFI-Y1</option>
            <option value="PSG1218-K2">PSG1218-K2</option>
            <option value="PSG1218-256M">PSG1218-256M</option>
            <option value="YOUKU-L1">YOUKU-L1</option>
            <option value="K2P">PHICOMM K2P 公测版</option>
            <option value="K2P-512M">PHICOMM K2P USB 512M RAM 公测版</option>
            <option value="K2P-USB">PHICOMM K2P USB 128M RAM 公测版</option>
            <option value="B70">HiWiFi B70</option>
            <option value="A3004NS">TOTOLINK A3004NS</option>
        </select>
          </div>
        </div>
      </section>
    </div>

      <section>
        <div class="form-group row">
        <div class="col-xs-4">
        <h3 style="margin-bottom: 40px;">点击下载：</h3>
        <ul class="download">
          <li class="download"><a class="buttons" id="download_fw" href="javascript:void(0);" title="">choose a router</a></li>
          <li class="download"><a class="buttons" id="download_md5sum" href="javascript:void(0);" title="md5sum">md5sum</a></li>
          <li class="download"><a class="buttons" id="download_sign" href="javascript:void(0);" title="rsa signature">rsa signature</a></li>
          <li class="download"><a class="buttons" id="download_changelog" href="javascript:void(0);" title="changelog">changelog</a></li>
        </ul>
    </div>
  </div>
      </section>

  </div>
  <!-- /.row -->
</div>
