<div class="container" id="download">

  <div class="row col-md-offset-2">
    <div class="col-md-8">

      <section>
        {{ .Content }}
      </section>
    </div>

    <div class="col-md-5" style="margin: 20px 0;">
      <section>
        <div class="form-group row">
          <div class="col-xs-8">
            <label for="sel_mirror"><h3 style="margin-bottom: 10px;">选择镜像服务器:</h3></label>
            <select class="form-control" id="sel_mirror">
                    <option value="0">Mirror1 [China Unicom]</option>
                    <option value="1">Github [US]</option>
                    <option value="2">80x86.io [JP]</option>
                  </select>
          </div>
        </div>
      </section>
    </div>

    <div class="col-md-6" style="margin: 20px 0;">
      <section>
        <h3 style="margin-bottom: 10px;">选择路由器型号：</h3>
        <ul class="download">
          <li class="download"><a class="buttons" id="NEWIFI-D1" href="javascript:void(0);" title="NEWIFI-D1">NEWIFI-D1</a></li>
          <li class="download"><a class="buttons" id="NEWIFI-Y1" href="javascript:void(0);" title="NEWIFI-Y1">NEWIFI-Y1</a></li>
          <li class="download"><a class="buttons" id="PSG1218-K2" href="javascript:void(0);" title="PSG1218-K2">PSG1218-K2</a></li>
          <li class="download"><a class="buttons" id="PSG1218-256M" href="javascript:void(0);" title="PSG1218-256M">K2-256M RAM</a></li>
          <li class="download"><a class="buttons" id="YOUKU-L1" href="javascript:void(0);" title="YOUKU-L1">YOUKU-L1</a></li>
        </ul>
      </section>
    </div>

  </div>
  <!-- /.row -->
</div>
